<div id="catapult-cookie-bar" class="">
    <div class="ctcc-inner ">
        <span class="ctcc-left-side">
            🍪 We use cookies. You can specify the conditions for storing and accessing cookies in your browser settings. 
            <a class="ctcc-more-info-link" tabindex=0 target="_blank" href="/">find out more</a></span>
        <span class="ctcc-right-side">
                <button id="catapultCookie" tabindex=0 onclick="catapultAcceptCookies();">Ok</button>
            </span>
    </div>
</div>