<!-- cookie-consent.html -->
<div id="cookie-notice" class="text-center" style="display: none;">
    <div>
        <span>
            🍪  This website use cookies. You can specify the conditions for storing and accessing cookies in your browser settings. 
            <a class="cookie-notice-policy" tabindex=0 target="_blank" href="" title="Polityka prywatności">Polityka prywatności</a>
        </span>
        <button id="cookie-notice-accept" tabindex=0>OK</button>
    </div>
</div>
<!-- /cookie-consent.html -->