<!-- locale-switcher.html -->
{% assign locale = include.locale | default: page.locale | default: site.locale %}
<!-- locale-switcher, locale: {{ locale }} -->
<nav role="navigation" aria-label="{% include translate.html locale=locale phrase='change_language' %}"> 
<ul>
    {% for locale in site.data.navigation.locales.items %}
        <li class="{% if locale.locale == page.locale %}active{% endif %}">
            <a href="{{ locale.url }}" title="{{ locale.title }}" lang="{{ locale.locale }}">
                {{ locale.title }}
            </a>
        </li>
    {% endfor %}
    </ul>
</nav>
<!-- /locale-switcher.html -->