{%- assign menu_name = include.menu -%}
<!-- navigation.html menu: {{ menu_name }} -->
{%- assign menu = site.data.navigation[menu_name] -%}
{%- if menu -%}
  {%- assign heading = include.heading | default: 'h2' -%}

  {%- if menu.list_title and include.display_menu_name == true -%}
    <{{- heading -}}>{{ menu.list_title }}</{{- heading -}}>
  {%- endif -%}

  {%- if menu.items -%}
    <nav>
      <ul class="{{ include.list_class }}">
          {% for item in menu.items %}
          <li class="{% if item.url == page.url %}active{% endif %}">
              <a href="{{ item.url }}#ref={{- menu_name -}}" title="{{ item.title }}">{{ item.title }}</a>
              {%- if item.item -%}
                {% include navigation-subnavigation.html menu='{{ item.items }}' %}
              {%- endif -%}
          </li>
          {% endfor %}
      </ul>
    </nav>
  {%- endif -%}
{%- endif -%}
<!-- /navigation.html menu: {{ menu_name }} -->