<!-- navigation-subnavigation.html items: {{ include.items }} -->
{% if include.items %}
    <ul {%- if include.list_class %} class="{{- include.list_class -}}"{%- endif -%}>
        {% for item in include.items %}
        <li{%- if item.url == page.url %} class="active"{%- endif -%}>
            {%- if item.url contains 'http' -%}
                {%- assign is_external = true -%}
            {%- else -%}
                {%- assign is_external = false -%}
            {%- endif -%}
            <a href="{{ item.url }}{%- if is_external == false -%}#ref={{- menu_name -}}{%- endif -%}" title="{{ item.title }}"{%- if is_external == true %} rel="external" target="_blank"{% endif %}>{{ item.title }}</a>
            {%- if item.items %}
                {% include navigation-subnavigation.html items=item.items %}
            {% endif -%}
        </li>
        {% endfor %}
    </ul>
{% endif %}
<!-- /navigation-subnavigation.html -->