<aside id="search-2" class="widget widget_search">
    <form role="search" method="get" id="searchform" class="searchform" action="/">
        <div>
            <label class="screen-reader-text" for="s">Search for:</label>
            <input type="text" value="" name="s" id="s" />
            <input type="submit" id="searchsubmit" value="Search" />
        </div>
    </form>
</aside>
<aside id="text-4" class="widget widget_text">
    <div class="textwidget">
        <p><a title="Piotr Żuralski @ KeyBase" href="https://keybase.io/piotr_zuralski/" rel="me">Piotr Żuralski @ KeyBase</a><br />
            <a title="Piotr Żuralski @ GitHub" href="https://github.com/piotr-zuralski" rel="me">Piotr Żuralski @ GitHub</a><br />
            <a title="Piotr Żuralski @ GitLab" href="https://gitlab.com/piotr-zuralski" rel="me">Piotr Żuralski @ GitLab</a><br />
            <a title="Piotr Żuralski @ StackOverflow" href="https://stackoverflow.com/users/3580681/piotr-%C5%BBuralski?tab=profile" rel="me">Piotr Żuralski @ StackOverflow</a><br />
            <a title="Piotr Żuralski @ LinkedIn" href="https://www.linkedin.com/in/piotrzuralski/" rel="me">Piotr Żuralski @ LinkedIn</a><br />
            <a title="Piotr Żuralski @ CodersRank" href="https://profile.codersrank.io/user/piotr-zuralski" rel="me">Piotr Żuralski @ CodersRank</a><br />
            <a title="Piotr Żuralski @ Twitter" href="https://twitter.com/piotr_zuralski" rel="me">Piotr Żuralski @ Twitter</a><br />
            <a title="Piotr Żuralski @ Crunchbase" href="https://www.crunchbase.com/person/piotr-%C5%BBuralski" rel="me">Piotr Żuralski @ Crunchbase</a><br />
            <a title="Piotr Żuralski @ GoldenLine" href="https://www.goldenline.pl/piotr-zuralski/" rel="me">Piotr Żuralski @ GoldenLine</a><br />
            <a title="Piotr Żuralski @ Medium" href="https://medium.com/@piotr.zuralski" rel="me">Piotr Żuralski @ Medium</a><br />
            <a title="Piotr Żuralski @ SlideShare" href="https://www.slideshare.net/Piotruralski" rel="me">Piotr Żuralski @ SlideShare</a><br />
            <a title="Piotr Żuralski @ About.me" href="https://about.me/piotr-zuralski" rel="me">Piotr Żuralski @ About.me</a><br />
            <a title="Piotr Żuralski @ linktr.ee" href="https://linktr.ee/piotr_zuralski" rel="me">Piotr Żuralski @ linktr.ee</a></p>
        <p><a title="zuralski.net" href="https://zuralski.net" rel="me">zuralski.net</a><br />
            <a title="piotr.zuralski.net" href="https://piotr.zuralski.net" rel="me">piotr.zuralski.net</a></p>
    </div>
</aside>