<!-- sidebar -->
<aside class="container__sidebar">
  
  <aside id="locale-switcher-2" class="widget widget_locale-switcher">
    {% include locale-switcher.html %}
  </aside>

  <aside id="search-2" class="widget widget_search">
      <form role="search" method="get" id="searchform" class="searchform" action="/search.html">
          <div>
              <label class="screen-reader-text" for="s">Search for:</label>
              <input type="text" value="" name="s" id="s" />
              <input type="hidden" value="{{ page.locale | default: site.locale }}" name="locale" />
              <input type="submit" id="searchsubmit" value="Search" />
          </div>
      </form>
  </aside>
  <aside id="text-4" class="widget widget_text">
      <div class="textwidget">
        {% include navigation.html menu="social_links" heading="h3" %}
      </div>
  </aside>
  <!-- /sidebar -->
</aside>