<!doctype html>
<html lang="{{ site.lang|default:'en_UK' }}">

<head>
    {#
    <title>Default layout title</title> #}
    <!-- -->
    {% include head.html %}
</head>

<body>
    {% include navigation.html %}
    <div class="container-lg px-3 my-5 markdown-body">
        {% if site.title and site.title != page.title %}
        <h1><a href="{{ '/'|absolute_url }}">{{ site.title }}</a></h1>
        {% endif %} {{ content }}

    </div>

    <footer class="page-footer">
        <ul class="site-footer-links right">
            <li><a href="/about" title="About">About</a></li>
        </ul>

        <ul class="site-footer-links">
            currentYear: {{ site.currentYear }} <br> experience: {{ site.experience }} <br>
            <li>Copyright &copy; 2007-<span id="current-year">{{ site.time|date: '%Y' }}</span> <span>{{ site.author.name }}</span>.</li>
            <li><a href="/contact" title="Contact">Contact</a></li>
        </ul>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>
        anchors.add();
    </script>
</body>

</html>